.logo-with-header{
	width: 20rem;
	letter-spacing: 2px;
	border-bottom: 2px solid var(--color-primary);
	font-size: 2rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	&__image{  
		height: 5rem;
	}
}

.page-header-title{
	font-size: 2.5rem;
	font-weight: 600;
	margin-left: 5rem;
	margin-top: .5rem;
	text-decoration: underline;
	color: var(--color-grey-dark-1);
}

.edit-pen-button{
	margin-left: 1rem;
	height: 2rem;
	width: 2rem;
	color: var(--color-grey-dark-1);
	fill: currentColor;
	&:active,
	&:hover,
	&focus{
		color: var(--color-primary-dark);
		fill: currentColor;
	}
}